/* TRANSITION 
Adiciona na classe que esta sendo feito o hovr, etc
*/
div {
    background-color: black;
}

div:hover {
    background-color: red;
}

div {
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease, ease-in, ease-out, ease-in-out, linear;
    transition-delay: 2s;
    /* 
    Propriedade Duração Ritmo Delay
    Separando por virgula da pra por mais coisas
    */
    transition: width 2s linear 1s, height 1s ease 2s; 
    /*
    Todas propriedades pega a Transição
    */
    transition: all 2s linear 1s; 
}