

/* COR DE FUNDO */
body {
    background-color: red;
    background-color: #fff;
    background-color: rgb();
    background-color: rgba();
    background-color: hsl();
    background-color: hsla();
}

/* IMAGEM DE FUNDO, USADO TAMBEM PRA GRADIENTE */
body {
    background-image: url(Caminho Imagem);
    background-image: linear-gradient(to bottom, red, green);
    background-image: radial-gradient(red, green);
}

/* REPETIÇÃO DE IMAGEM */
body {
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}

/* POSIÇÃO DA IMAGEM */
body {
    background-position: left;
    background-position: center;
    background-position: right;
    background-position: left top; 
    background-position: left center;
    background-position: left bottom;
}

/* TAMANHO */
/* Horizontal Vertical */
body {
    background-size: 300px 500px;
    background-size: 100% 100%;
    background-size: cover; 
    background-size: contain;
}

/* ACOMPANHA BARRA DE ROLAGEM */
body {
    background-attachment: scroll;
    background-attachment: fixed;
}

/* JUNCAO */
body 
{
    background: url() center center/100% 100%  no-repeat fixed;
}