:root {
    --Cor-Primaria: red;
}

div {
    background-color: var(--Cor-Primaria);
    width: 500px
}

/* 
    Usamos o :root, e para atribuir a varival colocamos "--" na frente do nome
    
    :root {
        --Nome-Variavel:;
        --Nome-Variavel:;    
    }

    Para usar a variavel colocamos a propriedade var()

    background: var(--Nome-Variavel);

*/