

img {
    filter: blur(20px); /* Desfique */
    filter: brightness(100%); /* Brilho */
    filter: contrast(20%); /* Contraste */
    filter: grayscale(100%); /* Tom de Cinza */
    filter: invert(80%); /* Inverte as cores */
    filter: opacity(10%); /* Transparencia */
    filter: saturate(50%); /* saturação */
    filter: sepia(20%); /* Tom Sepia */
    filter: hue-rotate(5deg); /* Modifica as cores em graus */
    filter: drop-shadow(10px 20px 10px red); /* Sombra horizontal vertical desfoque cor */
}